/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #1E3A8A; /* Синий фон */
    color: white;
    padding: 40px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 50px;
}

.intro {
    background-color: #1E3A8A; /* Синий фон */
    color: white;
    padding: 60px 20px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.content h3 {
    font-size: 1.8rem;
    margin-top: 20px;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

.content a {
    color: #1E90FF;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

